%br
%br
%br

.row
  .columns.large-5
    %h4 Wines
    %hr
    %ul
      -@wines.each do |wine|
        %li= link_to "#{wine.vintage} #{wine.grape.name} #{wine.winery.name}", wine_path(wine.id)

  .columns.large-5
    %h4 Cheeses
    %hr
    %ul
      -@cheeses.each do |cheese|
        %li= link_to "#{cheese.name} from #{cheese.region}", cheese_path(cheese.id)
