%nav.top-bar.fixed
  %ul.title-area
    %li.name
      %h1= link_to "Pairings", root_path
  %section.top-bar-section
    %ul.right
      %li.has-dropdown
        %a{href: "#{wines_path}"} Wines
        %ul.dropdown
          %li=link_to 'Red', wine_variety_path('red')
          %li=link_to 'White', wine_variety_path('white')
          %li=link_to 'Sparkling', wine_variety_path('sparkling')
          %li=link_to 'Rosé', wine_variety_path('rose')
          %li=link_to 'Fortified', wine_variety_path('fortified')
      %li.divider
      %li.has-dropdown
        %a{href: "#{cheeses_path}"} Cheeses
        %ul.dropdown
          %li=link_to 'Soft', cheese_variety_path('soft')
          / %li=link_to 'Cheese Type', cheese_variety_path('variety')
          %li=link_to 'Semi-hard', cheese_variety_path('semi-hard')
          %li=link_to 'Hard', cheese_variety_path('hard')
          %li=link_to 'Blue', cheese_variety_path('blue')
      %li.divider
      -if current_user
        %li= link_to 'Logout',  logout_path
      -else
        %li= link_to 'Login',  login_path
